html
  body
    section#about
      .container-fluid
        .row.title
          .col-xs-24
            span.title about our lettinis
            span.subtitle what makes a lettini?
        | &#x9;&#x9;
        .row.text-center
          //
            <div class="col-xs-24 col-sm-20 col-md-18 centered-div text-center about-text">
            <p>
            Lettini, a portable sun lounge which has an integrated flat board canopy that can adjust its angle to block direct sunshine from the upperbody, eyes, and skin. Secured with dual 360-degree hinges, the canopy swings forward and tilts 360-degrees. Wind & water resistant guaranteed for up to 8 summer seasons. It locks securely into a variety of positions to block the sun’s rays. The canopy is also capable of deflecting high levels of harmful UV rays from human eyes, and skin. They are light weight but very stable, at 7kg, with support for up to 120kg of body weight & more for the VIP version
            </p>
            </div>
          .col-xs-24.col-sm-16.col-sm-offset-3.col-md-18.col-lg-20.centered-div.clearfix.icon-container
            .col-xs-24.col-sm-12.col-sm-offset-0.col-md-11.col-lg-5.col-lg-offset-0.about-blocks.text-center
              i.fa.fa-sun-o
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              span
                | These sun loungers are ideal for the climate in Australia. Protect your head and face from that harsh sun with a canopy that blocks 99% of harmful UV rays.
            | &#x9;&#x9;&#x9;&#x9;
            .col-xs-24.col-sm-12.col-sm-offset-0.col-md-11.col-md-offset-2.col-lg-5.col-lg-offset-1.about-blocks.text-center
              i.fa.fa-flight-land
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              span
                | Made in Italy using quality materials, the Lettini sun lounger with canopy is built to last. They&rsquo;ll help you enjoy many years of Australian summers in style and comfort.
            | &#x9;&#x9;&#x9;&#x9;
            .col-xs-24.col-sm-12.col-sm-offset-0.col-md-11.col-lg-5.col-lg-offset-1.about-blocks.text-center
              i.fa.fa-high-quality
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              span
                | Lettinis are all about quality. So much so that they come with a 10-year warranty. To ensure stability and rust resistance, the frame is made out of 16 micron primary anodised aluminium.
            | &#x9;&#x9;&#x9;&#x9;
            .col-xs-24.col-sm-12.col-sm-offset-0.col-md-11.col-md-offset-2.col-lg-5.col-lg-offset-1.about-blocks.text-center
              i.fa.fa-style
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              span
                | The PVC-covered polyester cloth is fade resistant for over 25 years and there are over 24 colour and frame combinations to choose between.
          //
            SOME MARKETING STUFF TO ADD LATER
            The perfect Aussie outdoor lounger
            Think of Australia and automatically we are overrun by images of sweltering summers, barbecues and lazy afternoons spent poolside. With gorgeous weather and outdoor living deeply ingrained in our culture, it makes sense to turn our backyards into mini haven that we can call our own, or often take to our many pristine beaches to enjoy the surf. My Leisure loves the outdoors just as much as the next person and has made basking in the sun easier than ever before with our range of Italian outdoor sun loungers. Available all throughout Australia, our sun lounge chairs have everything you need to enjoy summer the way it should be: in comfort and adjustable shade.
            Looks, comfort and protection in one
            Not only will a sun lounge with canopy ensure your time spent outdoors is as comfortable as possible, it will ensure you look great doing it too. Forget about seeing your surroundings through squinted eyes, these cleverly designed sun lounges have you covered – literally. The specially designed canopy is fully rotatable and will block 99% of those harmful UV rays meaning you can protect your eyes and skin while basking in your little oasis.
            Loungers can be purchased directly from our site after creating your ideal configuration. Of course, if you have any questions we will be happy to assist you. Please contact our team on 0406 421 708.
          //
            <div class="col-xs-24">
            <a href="#LettiniBuilder" class="cta-btn pick">MORE</span></a>
            </div>
        //
          <div class="row">
          <div class="col-xs-8 stick-chair"><img src="img/assets/white_chair.png" alt="chair"></div>
          <div class="col-xs-16 stats">
          <div class="text-class">
          L 182cm W. 73cm H 40cm
          </div>
          </div>
          </div>
