html
  body
    section#accessories
      
      h2.title.accessoriesTitle
        | Accessories
      
      section#Cushion.container-fluid.cushion
        .row
          .col-md-24.image-holder.first
            .cushion-info
              .info-container
                h3.heading.sub 2-in-1
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                h2.heading cushion and pockets
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                button#9540547083-31417434253.add-accessory.btn
                  | add to lettini
                //
                  <button class="btn">
                  unblur
                  </button>
            | &#x9;&#x9;&#x9;&#x9;
            .slider-main-cushion
              div
                img(data-lazy='img/shop/accessories/cushions/hq/cushion-full-front.jpg')
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              div
                img(data-lazy='img/shop/accessories/cushions/hq/cushion-front.jpg')
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              div
                img(data-lazy='img/shop/accessories/cushions/hq/cushion-pockets.jpg')
        | &#x9;&#x9;
        .row
          .slider-nav-cushion
            div
              img(data-lazy='img/shop/accessories/cushions/mobile/cushion-full-front.jpg')
            | &#x9;&#x9;&#x9;&#x9;
            div
              img(data-lazy='img/shop/accessories/cushions/mobile/cushion-front.jpg')
            | &#x9;&#x9;&#x9;&#x9;
            div
              img(data-lazy='img/shop/accessories/cushions/mobile/cushion-pockets.jpg')
      section#CupHolders.container-fluid.cup
        .row
          .col-md-24.image-holder.first
            .cushion-info
              .info-container
                h3.heading.sub 3-in-1
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                h2.heading
                  | Wine holder
                  br
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Snack tray
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  br
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Drink holder
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                button#9540547083-31404310285.add-accessory.btn
                  | add wine holder
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                button#9540547083-31417434189.add-accessory.btn
                  | add nut holder
                //
                  <button class="btn">
                  unblur
                  </button>
            | &#x9;&#x9;&#x9;&#x9;
            .slider-main-cup
              div
                img(data-lazy='img/shop/accessories/cup-holder/hq/wine-holder-with-cup.jpg')
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              div
                img(data-lazy='img/shop/accessories/cup-holder/hq/cup-holder-top.jpg')
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              div
                img(data-lazy='img/shop/accessories/cup-holder/hq/nuts-holder-open.jpg')
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              div
                img(data-lazy='img/shop/accessories/cup-holder/hq/nuts-holder-top-open.jpg')
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              div
                img(data-lazy='img/shop/accessories/cup-holder/hq/nuts-holder-closed.jpg')
        | &#x9;&#x9;
        .row
          .slider-nav-cup
            //
              <div>
              <img data-lazy="img/shop/accessories/cup-holder/flashy-cup.jpg" sizes="100vw, 100vw"/>
              </div>
            div
              img(data-lazy='img/shop/accessories/cup-holder/mobile/wine-holder-with-cup.jpg')
            | &#x9;&#x9;&#x9;&#x9;
            div
              img(data-lazy='img/shop/accessories/cup-holder/mobile/cup-holder-top.jpg')
            | &#x9;&#x9;&#x9;&#x9;
            div
              img(data-lazy='img/shop/accessories/cup-holder/mobile/nuts-holder-open.jpg')
            | &#x9;&#x9;&#x9;&#x9;
            div
              img(data-lazy='img/shop/accessories/cup-holder/mobile/nuts-holder-top-open.jpg')
            | &#x9;&#x9;&#x9;&#x9;
            div
              img(data-lazy='img/shop/accessories/cup-holder/mobile/nuts-holder-closed.jpg')
