html
  body
    section.fs-splash-landing
      .splash-slider
        .splash.first
          .cta-container
            .cta-content.clearfix
              //- h2.slider-header Sun Smart Sun Lounges
              //- h4.slider-header
              //-   span.small a
              //-   | Sun Lounge
              //-   span.small with a
              //-   | Sun Shield
              .btn-container.clearfix
                a.cta-btn.pick(href='/shop') shop now
                //- a.cta-btn.pick(href='/build?utm=banner') shop now
                //- a.cta-btn.pick(href='/shop')
          img(data-original='/img/splash/hq/beautiful-green.jpg', data-srcset='', alt='sun lounge canopy')
        .splash.bronze
          .cta-container.bronze
            h2.slider-header Lettini Sun Lounge
            h4.sub-header Bringing luxury and functionality together
            .btn-container.bronze
              a.cta-btn.pick.bronze(href='/shop/lettinis/TWIBC') GO TO TWISTSAND
              a.cta-btn.order(href='/shop') SHOP
          img(data-lazy='/img/splash/hq/bronze.jpg', alt='sun lounge canopy bronze frame luxury')
        | &#x9;&#x9;
        .splash.bianco
          .cta-container.sun-shield
            h2.slider-header Lettini
            h4.sub-header Blocks 99.99% of Harmful UV Rays
            .btn-container.bianco
              a.cta-btn.pick.bronze(href='/shop/lettinis/BIASC') GO TO BIANCO
              a.cta-btn.order(href='/shop') SHOP
          img(data-lazy='/img/splash/hq/bianco.jpg', alt='sun lounge canopy bronze frame luxury')
        | &#x9;&#x9;
        .splash
          .cta-container.bianco.colours
            //- h2.slider-header Sun Lounge
            h4.sub-header Over 24 Colours and Frames to choose from
            .btn-container.bianco
              a.cta-btn.pick.bronze(href='/design') SEE COLOURS
              a.cta-btn.order(href='/shop') SHOP
          img(data-lazy='/img/splash/hq/colours_thin.jpg', alt='sun lounge canopy bronze frame luxury')
