html
  body
    section#termsandconds.clearfix
      #terms.terms-and-conditions.col-md-14.col-md-offset-5
        h1 Enjoy Relaxation in the Sun with Beach Lounge Chairs in Australia
        p
          | Bask in the brilliance that is one of Australia&rsquo;s gorgeous beaches in style and comfort. As a country with a culture that is heavily revolved around the beach, surf and sun, many of us are searching for products that will make our time spent beachside that much more enjoyable. Enter My Leisure. Offering a revolutionary beach chair with canopy that is easy to transport, set up and pack up, beach time just got more fun and comfortable.
        p
          strong Tell me about the features
        p
          | Picture this. You hear the gentle rhythms of the surf as you feel the warmth of the summer sun caressing your skin. Birds caw in the distance. Only something is different. No, there is no sand irritating your skin, no sweat forming on the bridge of your nose from your sunglasses, no burning hot hair from the blistering heat&mldr;
        p
          | Canopy beach chairs make all the difference to your beach adventure. With the comfort of a normal lounge chair you are sure to be comfortable whether you plan to be beachside for an afternoon or a whole day. The difference with these Italian made design is the shade it provides to your face and head. Best of all, it blocks out 99% of those nasty and harmful UV rays.
        h2 Create your own beach chair in easy steps
        p
          | Show a little bit of your personality while chilling on the sand. We have over 24 colour and frame combinations to choose from to ensure there is one that suits your tastes perfectly. Not heading to the beach for a little while? These are perfect to 
          a(href='https://www.myleisure.com.au/pool', style='color:#fff;') set up poolside
          |  or as a lawn chair in your garden. Otherwise, simply store them away easily until your next outing.
        p
          | Have any questions about purchasing online or need further information about the product? We&rsquo;ll be happy to help. Simply call 0406 421 708.
