html
  body
    section#canopy
      .container-fluid
        .row
          .sun-blocking-example
            .sun
              .btn-wave.-one
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              .btn-wave.-two
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              .btn-wave.-three
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              .btn-wave.-four
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              .btn-wave.-five
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              .btn-wave.-six
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              .btn-wave.-seven
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              .btn-wave.-eight
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              .btn-wave.-nine
              // <div class="sun-wave -one"></div>
              .btn-wave.-ten
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              .btn-wave.flare
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              .btn-wave.flare
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              .btn-wave.flare
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              .btn-wave.flare
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              .btn-wave.flare
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              .btn-wave.flare
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              .btn-wave.flare
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              .btn-wave.flare
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              .btn-wave.flare
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              .btn-wave.flare
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              .btn-wave.flare
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              .btn-wave.flare
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              .btn-wave.flare
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              .btn-wave.flare
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              .btn-wave.flare
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              .btn-wave.flare
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              .btn-wave.flare
              // <div class="sun-wave -one"></div>
            | &#x9;&#x9;&#x9;&#x9;
            .title-sun
              .col-xs-22.col-md-10
                h2
                  | protecting from 99% of harmful UV rays 
                  br
                  |  Lettinis are the best way to stay safe in the sun this summer
            | &#x9;&#x9;&#x9;&#x9;
            .canopy-front
              .chair
                a(href='index')
                  div
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  div
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  div(style='background: url(./img/patterns/S B B.jpg); background-size: cover; background-repeat: none')
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  div
            | &#x9;&#x9;&#x9;&#x9;
            svg
              g.human
                g.top
                  path.head(d='M100,120 v-70 c0 -25 40 -25 50 0 v70')
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  path.glasses(d='M100,60 h25 a4 -4 1 0 1 8 0 h8 a4 -4 1 0 1 8 0 a-4 4 1 0 1 -8 0 h-8a-4 4 1 0 1 -8 0 z')
                | &#x9;&#x9;&#x9;&#x9;&#x9;  
                path.hand.left-hand
                | &#x9;&#x9;&#x9;&#x9;&#x9;  
                g.upperbody
                  circle.torso(cx='140', cy='190', r='95')
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  path.shorts(d='M45,190 a95 95 1 0 0 190 0 z')
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  path.belt(d='M45,190 l181.5,-40 A140 190 1 0 1 235 190 h-200 z')
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  g.ducky(transform='rotate(-10, 50, 170)')
                    path.beak(d='M250,132 l10,5 l-10,8 z')
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;  
                    path.body(d='M40,160 h180 v-30 c0 -20 30 -20 30 0 v50 c0 5 -5 10 -10 10 h-200 c-20 0 -20 -30 0 -30')
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;  
                    path.shadow(d='M25,175 h225 v5 c0 5 -5 10 -10 10 h-200 c-15 0 -15 -15 -15 -15')
                | &#x9;&#x9;&#x9;&#x9;&#x9;  
                g.left-leg
                  path.leg(d='M145,270 h25 v85 h-25 v-85 z')
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  path.shorts(d='M144,270 h27 v25 h-27 v-25 z')
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  path.shadow(d='M145,295 h25 v10 h-25 v-10 z')
                | &#x9;&#x9;&#x9;&#x9;&#x9;  
                g.right-leg
                  path.leg(d='M110,270 h25 v85 h-25 v-85 z')
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  path.shorts(d='M109,270 h27 v30 h-27 v-30 z')
                | &#x9;&#x9;&#x9;&#x9;&#x9;  
                path.hand.right-hand(d='M100,130 v120 c0 15 25 15 25 0 v-120 z')
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                animatetransform(attributetype='XML', attributename='transform', type='rotate', values='0 112.5 130; -10 112.5 130; 0 112.5 130; 10 112.5 130; 0 112.5 130', dur='1s', repeatcount='5')
          | &#x9;&#x9;&#x9;
          .sand
        //
          <div class="row">
          <div class="col-xs-14">
          </div>
          <div class="col-xs-10 ">
          <div class="canopy-top">
          <div class="chair">
          <a href="index">
          <div></div>
          <div></div>
          <div></div>
          </a>
          </div>
          </div>
          </div>
          </div>
          <div class="row">
          <div class="col-xs-10 col-xs-offset-1">
          <div class="canopy-side">
          <div class="chair">
          <a href="index">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          </a>
          </div>
          </div>
          </div>
          <div class="col-xs-13">
          </div>
          </div>
