html
  body
    section#foldable
      .foldable-container
        .row.foldable-row
          .col-xs-24.col-md-13.col-md-offset-1.vid-col
            .video-wrapper
              iframe#fold-video(style='border: none', src='https://www.youtube.com/embed/tPq6IzaYCPE')
          | &#x9;&#x9;&#x9;
          .col-xs-24.col-md-9.text-col
            .foldable-text
              h1.foldable-header
                | Easy Storage
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              h3.foldable-subheader
                | Folds up in 3 easy steps
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              .buttons
                button#play-fold-video.video-button(target='_blank', href='https://www.youtube.com/watch?v=tPq6IzaYCPE') watch the video
                a.choose-a-lettini(href="/Shop") choose yours
          | &#x9;&#x9;&#x9;
          .col-xs-24.col-md-13.col-md-offset-1.vid-col.vid-col-mobile
            .video-wrapper
              iframe#fold-video(style='border: none', src='https://www.youtube.com/embed/tPq6IzaYCPE')
        | &#x9;&#x9;
        img.foldable-img(alt='3 Step foldable Lettini Sun Lounge with Canopy', data-original='/img/hq/foldable.jpg', data-original-set='/img/hq/foldable.jpg, /img/mobile/foldable_large.jpg 780w', sizes='100vw, 100vw')
