html
  body
    .col-md-11.col-sm-24.text-align-right
      h2 Heading 1
      | &#x9;&#x9;&#x9;&#x9;&#x9;
      p
        | Mauris mauris dui, scelerisque vitae turpis in, hendrerit sagittis diam
        // Choose a finish for your Lettini from these 5 options, make it your own.
        // <h4>Finishes</h4>
        ul.capitalize.no-dots
          li White powder coat
          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
          li Anodized silver aluminium
          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
          li Graphite
          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
          li Bronze Smeca
          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
          li Wood Grain
    | &#x9;&#x9;&#x9;&#x9;
    .col-md-4
      img.width-100.relative(name='changeimg', src='img/chair-white-painted.jpg', style='padding: 3%;')
    | &#x9;&#x9;&#x9;&#x9;
    #chair-finishes-gallery.col-md-4.col-sm-12.no-container-padding
      ul.no-left-padding
        li
          img(src='img/chair-white-painted.jpg', onmouseover='changeimg.src=this.src', alt='')
          span(style='position: absolute; left: 0; color: black; font-size: 10px/1.2em; text-align: left;')  title: 
        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
        li
          img(src='img/chair-silver-anodized.jpg', onmouseover='changeimg.src=this.src', alt='')
          span(style='position: absolute; left: 0; color: black; font-size: 10px/1.2em; text-align: left;')  title: 
        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
        li
          img(src='img/chair-graphite.jpg', onmouseover='changeimg.src=this.src', alt='')
          span(style='position: absolute; left: 0; color: black; font-size: 10px/1.2em; text-align: left;')  title: 
        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
        li
          img(src='img/chair-smeca-bronze-anodized.jpg', onmouseover='changeimg.src=this.src', alt='')
          span(style='position: absolute; left: 0; color: black; font-size: 10px/1.2em; text-align: left;')  title:
        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
        li
          img(src='img/chair-wood-effect.jpg', onmouseover='changeimg.src=this.src', alt='')
          span(style='position: absolute; left: 0; color: black; font-size: 10px/1.2em; text-align: left;')  title:
    //
      FONT OPTIONS
      UBUNTU
      ROBOTO CONDENSED
      RALEWAY
      OSWALD
      MONTSERRAT
      LEAGUE SPARTAN
      AILERON (THIN, REGULAR, BOLD)
      ABRIL FATFACE
      LATO
      HAMMERSMITH ONE
      HELVETICISH
