html
  body
    section#orders-db
      table.table
        thead
          tr
            th #
            | &#x9;        
            th First Name
            | &#x9;        
            th Last Name
            | &#x9;&#x9;&#x9;
            th City
            | &#x9;&#x9;&#x9;
            th Order
            | &#x9;&#x9;&#x9;
            th Edit
        | &#x9;    
        tbody
          tr
            td 2
            |   &#x9;        
            td#first_name(contenteditable='true') Facebook
            |   &#x9;        
            td#last_name(contenteditable='true') Inc
            |   &#x9;&#x9;&#x9;
            td#city(contenteditable='true') California
            |   &#x9;&#x9;&#x9;
            td#order(contenteditable='true') Bianco
            |   &#x9;&#x9;&#x9;
            td#edit
              button#submit(action='=POST') submit
          | &#x9;&#x9;
          tr
            td 2
            | &#x9;&#x9;&#x9;
            td#first_name(contenteditable='true') Facebook
            | &#x9;&#x9;&#x9;
            td#last_name(contenteditable='true') Inc
            | &#x9;&#x9;&#x9;
            td#city(contenteditable='true') California
            | &#x9;&#x9;&#x9;
            td#order(contenteditable='true') Bianco
            | &#x9;&#x9;&#x9;
            td#edit
              button#submit(action='=POST') submit
