html
  body
    section#termsandconds.clearfix
      #terms.terms-and-conditions.col-md-14.col-md-offset-5
        h1 Experience Luxury Like Never Before with Stylish Pool Deck Chairs
        p
          | Spend those summer afternoons basking by the pool in comfort with My Leisure&rsquo;s Lettini pool lounge chairs. What makes these deck chairs so special? Forget about wooden lounges that are uncomfortable and quickly fade, don&rsquo;t settle for a towel placed on some prickly grass or pavers, you deserve the ultimate in poolside comfort &ndash; and that is exactly what Lettini gives you.
        p
          | These pool loungers aren&rsquo;t a simple chair, they have been cleverly designed to offer you both comfort and protection. Equipped with a rotating canopy, you can adjust the chair to provide your face with much needed shade while leaving your body to bask in the brilliant sunshine.
        p
          strong Colours to suit your property&rsquo;s design 
        p
          | We know that Australian backyards are extremely varied, from themed gardens and chic and modern inclusions to a family friendly, colourful space. To help you make the perfect space, we have a wide variety of options to choose from. On our site, you can purchase pool loungers in a wide selection of colours to suit your preferences. With a massive selection of colours, as well as 3 choices for the frame itself, you really can personalise your yard however you like.
        p
          | Of course, your chairs don&rsquo;t have to become a permanent fixture in your yard. With our deck chairs weighing approximately 7kgs they are lightweight yet extremely stable. Take them with you on family outings or take some time out on your own and 
          a(href='https://www.myleisure.com.au/beach', style='color:#fff;') relax on the beach in comfort
          | .
        p
          | Design your own online today and have your product delivered in Australia. To personalise it even further, take a look at the accessories you can buy to complement it such as wine bottle holders, head cushions and more. Have questions? Give us a call on 0406 421 708.
