html
  body
    #Shipping
      .container-fluid
        .row
          .col-md-18.col-md-offset-3.col-xs-24
            .shipping-root
              h2.shipping-title Shipping Costs
              .shipping-container
                table.table
                  tr
                    th
                    th ~ 2
                    //- th 2
                    th ~ 5
                    th ~ 100
                  tr
                    th Victoria
                    td $50
                    //- td $65
                    td $100
                    td
                      a.wholesale-btn(href="/ContactUs")
                        | contact
                  tr
                    th Melbourne
                    td Free home delivery
                    //- td Free home delivery
                    td Free home delivery
                    td
                      a.wholesale-btn(href="/ContactUs")
                        | contact
                    //- td Free Home Delivery
                    //- td Free Home Delivery
                  tr
                    th
                      | Sydney
                      //- span.coming-soon coming soon
                    td $70
                    //- td $85
                    td $140
                    td
                      a.wholesale-btn(href="/ContactUs")
                        | contact
                  tr
                    th
                      | Brisbane
                      //- span.coming-soon coming soon
                    td $80
                    //- td $95
                    td $140
                    td
                      a.wholesale-btn(href="/ContactUs")
                        | contact

                  tr
                    th
                      | Perth
                      //- span.coming-soon coming soon
                    td $80
                    //- td $95
                    td $140
                    td
                      a.wholesale-btn(href="/ContactUs")
                        | contact
                  tr
                    th
                      | Adelaide
                      //- span.coming-soon coming soon
                    td $80
                    //- td $95
                    td $140
                    td
                      a.wholesale-btn(href="/ContactUs")
                        | contact
                  tr
                    th
                      | Gold Coast
                      //- span.coming-soon coming soon
                    td $80
                    //- td $95
                    td $140
                    td
                      a.wholesale-btn(href="/ContactUs")
                        | contact
                  tr
                    th
                      | Tasmania
                      //- span.coming-soon coming soon
                    td $80
                    //- td $95
                    td $140
                    td
                      a.wholesale-btn(href="/ContactUs")
                        | contact
