html
  body
    #stockists
      .splash-image
        img(data-original="/img/splash/hq/noosa.jpeg")
      .stockists-container
        //- h2.title stockists
        iframe(src="https://www.google.com/maps/d/u/0/embed?mid=1HqThuqhNCHb6lzFwIqip7JXwa_E")
          
        .get-in-touch.container-fluid#applyhere
          .row
            .col-lg-18.col-lg-offset-3
              .title Want to stock Lettinis?
              form(action="/stockists", method="post", id="stockistApplication", name="stockistApplication", novalidate="")
                #inputs
                  input(type="email", id="email", name="email", placeholder="Leave your email and we'll be in touch shortly")
                  input(type="submit", id="submit", value="send") 
                #success
              script.
                $(function(){
                  $("#stockistApplication input, #stockistApplication textarea").jqBootstrapValidation({
                      preventSubmit: true,
                      submitError: function($form, event, errors) {
                          // additional error messages or events
                      },
                      submitSuccess: function($form, event) {
                          event.preventDefault(); // prevent default submit behaviour
                          // get values from FORM
                          var email = $("#stockistApplication input#email").val();
                          // var message = $("textarea#message").val();
                          // Check for white space in name for Success/Fail message
                          $.ajax({
                              url: "/stockists",
                              type: "POST",
                              data: {
                                  email: email,
                                  // message: message
                              },
                              cache: false,
                              success: function(res) {
                                  console.log(res.random);
                                  // Success message
                                  $('#stockistApplication #success').html("<div class='alert alert-success'>");
                                  $('#stockistApplication #success > .alert-success').html("<button type='button' class='close' data-dismiss='alert' aria-hidden='true'>&times;")
                                      .append("</button>");
                                  $('#stockistApplication #success > .alert-success')
                                      .append("<strong>We have received your application and will respond shortly</strong>");
                                  $('#stockistApplication #success > .alert-success')
                                      .append('</div>');

                                  //clear all fields
                                  $('#stockistApplication').trigger("reset");
                              },
                              error: function() {

                                  // Fail message
                                  $('#stockistApplication #success').html("<div class='alert alert-danger'>");
                                  $('#stockistApplication #success > .alert-danger').html("<button type='button' class='close' data-dismiss='alert' aria-hidden='true'>&times;")
                                      .append("</button>");
                                  $('#stockistApplication #success > .alert-danger').append("<strong>Sorry " + firstName + ", it seems that my mail server is not responding. Please try again later!");
                                  $('#stockistApplication #success > .alert-danger').append('</div>');
                                  //clear all fields
                                  $('#stockistApplication').trigger("reset");
                              },
                          })
                      },
                      filter: function() {
                          return $(this).is(":visible");
                      },
                  });


                  $("a[data-toggle=\"tab\"]").click(function(e) {
                      e.preventDefault();
                      $(this).tab("show");
                  });

                  // Floating label headings for the contact form
                  $(function() {
                      $("body").on("input propertychange", ".floating-label-form-group", function(e) {
                          $(this).toggleClass("floating-label-form-group-with-value", !! $(e.target).val());
                      }).on("focus", ".floating-label-form-group", function() {
                          $(this).addClass("floating-label-form-group-with-focus");
                      }).on("blur", ".floating-label-form-group", function() {
                          $(this).removeClass("floating-label-form-group-with-focus");
                      });
                  });
                })