html
  body
    .blog(id="our-first-blog")
      .container-fluid
        .row
          .col-lg-10.col-lg-offset-5.col-md-14.col-md-offset-3.col-sm-16.col-sm-offset-1
            .main-image-container
              img(data-original="/img/splash/hq/bianco.jpg")
        .row.details-row
          .col-lg-10.col-lg-offset-5.col-md-14.col-md-offset-3.col-sm-16.col-sm-offset-1
            .title#title Are you as protected as you think by your shade sail?

            .author
              .descriptor By
              a(href="https://au.linkedin.com/in/marietta-frey-590ba011a?trk=prof-samename-picture", target="_blank") Marietta Frey
            .date
              | April 12, 2017
            .tags
              .tag
                a(href="/blogs/are-you-really-protected") Are you really protected?
            .subtitle We want to welcome you to the beginning of a sun safety revolution for sun lounges
            .social-icons-box
              a(href="http://www.facebook.com/sharer.php?u=https%3A%2F%2Fmyleisure.com.au%2Fblogs%2Fare-you-really-protected")
                .fa.fa-facebook-square
              a(href="http://twitter.com/intent/tweet?text=our%20first%20blog%20post&url=https%3A%2F%2Fmyleisure.com.au%2Fblogs%2Fare-you-really-protected")
                .fa.fa-twitter-square
              //- a(href="http://www.facebook.com/sharer.php?u=https%3A%2F%2Fdailytekk.com%2Fthe-100-best-most-interesting-blogs-and-websites-of-2015%2F&t=The+100+Best%2C+Most+Interesting+Blogs+and+Websites+of+2015")
                .fa.fa-pinterest-square
              //- .fa.fa-mail

        .row.content-row
          .col-lg-10.col-lg-offset-5.col-md-14.col-md-offset-3.col-sm-16.col-sm-offset-1
            .body.pt1
              p We may love our sunburnt country, but there's nothing to love about sweltering through a long hot summer, unprotected from the sun. Shade sails, also known as shade cloths, are a popular and stylish way to get some respite from the heat and UV rays, while still enjoying the outdoors. However, all claims are not what they seem when it comes to sun protection ratings on shade sails.

              p Although many shade cloth companies offer reassuring claims of maximum ultraviolet radiation (UVR) protection, the UVR rating of the shade cloth by itself is only half the story. 
            .highlights
              .highlight.highlight2
                //- .number 02.
                .highlight-title What to look for
                //- .highlight-image-container
                  img(data-original="/img/splash/hq/colours_refined.jpg")
                //- .highlight-subtitle
                  span Our Lettinis come in over 900 different possible combinations
                .highlight-content
                  p Shade sails are tested for how much ultraviolet radiation the materials transmit and for tear and tensile strengths. If the shade cloth is stretched due to incorrect installation, its UVR protection against sunburn could be reduced, and there's no standard test for this.

                  p The School of Optometry and Vision Science at the University of NSW has performed tests on shade cloth to the Australian Standard. Professor Stephen Dain, director of its Optics and Radiometry Laboratory, says that generally woven shade cloths are the preferred option.

              .highlight.highlight3
                //- .number 03.
                .highlight-title Sun protection levels impossible to classify?
                //- .highlight-image-container
                  img(data-original="/img/splash/hq/bronze.jpg")
                //- .highlight-subtitle
                  span Lettinis protect your upper body, face and eyes from 99% of all harmful UV Rays
                .highlight-content
                  p The Australian Standard for sun-protective clothing includes a classification system that is similar to that used for sunscreen. Depending on how much UVR it blocks, the cloth may be described as offering "Good protection", "Very good protection", or "Excellent protection".

                  p The Cancer Council of NSW wants a similar system for shade cloth to improve consumers' ability to identify products with a low or high UVR protection level. But Standards Australia says there are too many variables affecting the UVR protection of shade cloth to classify it, including:
                  ul
                    li design and size of the shade structure
                    li distance from the subjects
                    li level of reflected and diffused radiation
                    li physical location of a person within the shade structure.
              .highlight.highlight4
                //- .number 04.
                .highlight-title Before you go ahead
                //- .highlight-image-container
                  img(data-original="/img/splash/hq/ashtray_open.jpg")
                //- .highlight-subtitle
                  span When you buy a Lettini you will almost time travel 10 years into the future
                .highlight-content
                  p Cancer Council NSW has these recommendations:
                  ul
                    li Choose fabric that is closely woven and heavy, as it blocks or absorbs more UV radiation.
                    li Conduct a shade audit of the site where shade is required. You don't have to be professionally qualified, and Cancer Council Australia's publications can be used as a guide. A shade audit includes assessing the current shade of a site as well the types, times and months of use. A shade audit will help to plan a shade design that meets the needs of the site and its intended use.
                    li Check the quality of the shade cloth
                    li What warranty applies?
                    li What are the specifications of the cloth used?
                    li Has it been independently tested to confirm the UV radiation protection level?
                    li What is the durability of the cloth?
                  p My Leisure Lettinis comply to all of the above requirements. The shade material is dense and blocks all harmfull UV rays. It is close to the face and upper body for maximum protection. We give a 10 year warranty on all our sun lounges.
        .row.author-row
          .col-lg-10.col-lg-offset-5.col-md-14.col-md-offset-3.col-sm-16.col-sm-offset-1
            .author-bio
              .author-image
                img(data-original="/img/assets/myleisureceo.jpg")
              .author-info
                .author-name Marietta Frey
                .author-bio Marietta Frey is a mother of 2 who has travelled the world seeking new adventures and insights at every turn, a woman with a mind as open as the ocean, she always finds ways to help all of those around her through love and compassion, and has an eye for style and design like not many people do.
        //- .row.related-articles-row
          .col-lg-10.col-lg-offset-5.col-md-14.col-md-offset-3.col-sm-16.col-sm-offset-1
            .related-articles-title
              | Related articles
            .related-articles-squares

              .col-lg-12.col-md-12.col-sm-18.col-xs-24.related-article-square
                .related-article-text
                  .title Caring for a Lettini
                  .subtitle
                    | By
                    .author Marietta Frey
                    .date April 21, 2017
                img(data-original="/img/splash/hq/cushion.jpg")
              .col-lg-12.col-md-12.col-sm-18.col-xs-24.related-article-square
                .related-article-text
                  .title My Journey
                  .subtitle
                    | By
                    .author Marietta Frey
                    .date April 17, 2017
                img(data-original="/img/splash/hq/groovy.jpg")
              .col-lg-12.col-md-12.col-sm-18.col-xs-24.related-article-square
                .related-article-text
                  .title For Hotels
                  .subtitle
                    | By
                    .author Marietta Frey
                    .date May 1, 2017
                img(data-original="/img/customerShots/brand.jpg")
              .col-lg-12.col-md-12.col-sm-18.col-xs-24.related-article-square
                .related-article-text
                  .title Folding your lettini
                  .subtitle
                    | By
                    .author Marietta Frey
                    .date April 12, 2017
                img(data-original="/img/splash/hq/foldable.jpg")
        -if(typeof product !== 'undefined')
          .row.random-lettini
            .col-lg-13.col-lg-offset-4.col-md-17.col-md-offset-2.col-sm-19.col-sm-offset-0
              .title(style="letter-spacing: 1px")= product.colour + ' ' + product.name
              include /snippets/productDisplay
            .col-lg-24
