#error404
	.container-fluid
		.row
			.col-lg-12.col-lg-offset-6.col-md-12.col-md-offset-6.col-sm-16.col-sm-offset-4.col-xs-24(style="padding: 100px 5px 100px 5px")
				h1(style="color: white !important;")
					| Error 404
				h2(style="color: white !important;")
					| Sorry but it seems the page you tried to access does not exist
				h2(style="color: white !important;")
					a(href="/home", style="color: white !important; text-decoration: underline") Our home page is here
