html
  body
    section#frames.clearfix.available-frames
      .col-xs-24.frames-gallery
        
        .col-xs-6.col-xs-offset-3.circle-container
          .circle.classic
            .frame-title Classic
            .stats
              .stat Width 73cm
              .stat Height 40cm
              .stat Length 175cm
            .icon
              
        .col-xs-6.circle-container
          .circle
            .frame-title Prestige
            .stats
              .stat Width 73cm
              .stat Height 40cm
              .stat Length 175cm
            .icon
              
        .col-xs-6.circle-container
          .circle.vip
            .frame-title VIP
            .stats
              .stat Width 73cm
              .stat Height 40cm
              .stat Length 175cm
            .icon
  
        //- .frames-effects
