html
  body
    .blog(id="blog1")
      .container-fluid
        .row
          .col-lg-12.col-lg-offset-4.col-md-16.col-md-offset-2
            .main-image-container
              img(data-original="/img/splash/hq/bianco.jpg")
        .row.details-row
          .col-lg-12.col-lg-offset-4.col-md-16.col-md-offset-2
            .title#title Introducing My Leisure Lettinis
            
            .by-author 
              | By 
              a(href="/something") Marietta Frey 
            .date 
              | April 12, 2017 
            .tags
              .tag
                a(href="/something") Our first blog post 
            .subtitle We want to welcome you to the beginning of a sun safety revolution for sun lounges
            .social-icons-box
              a(href="http://www.facebook.com/sharer.php?u=https%3A%2F%2Fmyleisure.com.au%2Fblogs%2Four-first-blog-post")            
                .fa.fa-facebook-square
              a(href="http://twitter.com/intent/tweet?text=our%20first%20blog%20post&url=https%3A%2F%2Fmyleisure.com.au%2Fblogs%2Four-first-blog-post")                    
                .fa.fa-twitter-square
              a(href="http://www.facebook.com/sharer.php?u=https%3A%2F%2Fdailytekk.com%2Fthe-100-best-most-interesting-blogs-and-websites-of-2015%2F&t=The+100+Best%2C+Most+Interesting+Blogs+and+Websites+of+2015")                    
                .fa.fa-pinterest-square
              //- .fa.fa-mail
            
        .row.content-row
          .col-lg-12.col-lg-offset-4.col-md-16.col-md-offset-2
            .body.pt1 
              p Are you a hotel or resort chain looking to spice up the atmosphere of your customer experience? Our Lettinis offer a HUGE 900+ combination assortment so you can tailor make a range of Lettinis to suit your own brand and style. We even offer you the choice to custom print your own brand logo in any colour you want on any size, finish, or colour Lettini too. The choice is yours
              
              p Are you a hotel or resort chain looking to spice up the atmosphere of your customer experience? Our Lettinis offer a HUGE 900+ combination assortment so you can tailor make a range of Lettinis to suit your own brand and style. We even offer you the choice to custom print your own brand logo in any colour you want on any size, finish, or colour Lettini too. The choice is yours        
            .highlight.highlight1
              .number 01. 
              a(href="/sunsmart").highlight-title The Canopy
              .highlight-image-container
                img(data-original="/img/splash/hq/sunsmart.jpg")
              .highlight-subtitle
                span Using a canopy blocks nearly all harmful UV and Sun rays
              .highlight-content
                p Are you a hotel or resort chain looking to spice up the atmosphere of your customer experience? Our Lettinis offer a HUGE 900+ combination assortment so you can tailor make a range of Lettinis to suit your own brand and style. We even offer you the choice to custom 
                
                p Are you a 
                  a(href="/something") hotel or resort chain 
                  | looking to spice up the atmosphere of your customer experience? Our Lettinis offer a HUGE 900+ combination assortment so you can
              
                p Are you a hotel or resort chain looking to spice up the atmosphere of your customer experience? Our Lettinis offer a HUGE 900+ combination assortment so you can tailor make a range of Lettinis to suit your own brand and style.          
            .highlight.highlight2
              .number 02. 
              a(href="/showcase").highlight-title Colour and Customization
              .highlight-image-container
                img(data-original="/img/splash/hq/colours_refined.jpg")
              .highlight-subtitle
                span Our Lettinis come in over 900 different possible combinations
              .highlight-content
                p Are you a hotel or resort chain looking to spice up the atmosphere of your customer experience? Our Lettinis offer a HUGE 900+ combination assortment so you can tailor make a range of Lettinis to suit your own brand and style. We even offer you the choice to custom print your own brand logo in any colour you want on any size, finish, or colour Lettini too. The choice is yours
                
                p Are you a 
                  a(href="/something") hotel or resort chain 
                  | looking to spice up the atmosphere of your customer experience? Our Lettinis offer a HUGE 900+ combination assortment so you can tailor make a range of Lettinis to suit your own brand and style. We even offer you the choice to custom print your own brand logo in any colour you want on any size, finish, or colour Lettini too. The choice is yours
              
                p Are you a hotel or resort chain looking to spice up the atmosphere of your customer experience? Our Lettinis offer a HUGE 900+ combination assortment so you can tailor make a range of Lettinis to suit your own brand and style.
            .highlight.highlight3
              .number 03. 
              a(href="/design#finishes").highlight-title Quality
              .highlight-image-container
                img(data-original="/img/splash/hq/bronze.jpg")
              .highlight-subtitle
                span When you buy a Lettini you will almost time travel 10 years into the future
              .highlight-content
                p Are you a hotel or resort chain looking to spice up the atmosphere of your customer experience? Our Lettinis offer a HUGE 900+ combination assortment so you can tailor make a range of Lettinis to suit your own brand and style. We even offer you the choice to custom print your own brand logo in any colour you want on any size, finish, or colour Lettini too. The choice is yours
                
                p Are you a 
                  a(href="/something") hotel or resort chain 
                  | looking to spice up the atmosphere of your customer experience? Our Lettinis offer a HUGE 900+ combination assortment so you can tailor make a range of Lettinis to suit your own brand and style. We even offer you the choice to custom print your own brand logo in any colour you want on any size, finish, or colour Lettini too. The choice is yours
              
                p Are you a hotel or resort chain looking to spice up the atmosphere of your customer experience? Our Lettinis offer a HUGE 900+ combination assortment so you can tailor make a range of Lettinis to suit your own brand and style.
            .highlight.highlight4
              .number 04. 
              a(href="/accessories").highlight-title Accessories
              .highlight-image-container
                img(data-original="/img/splash/hq/ashtray_open.jpg")
              .highlight-subtitle
                span When you buy a Lettini you will almost time travel 10 years into the future
              .highlight-content
                p Are you a hotel or resort chain looking to spice up the atmosphere of your customer experience? Our Lettinis offer a HUGE 900+ combination assortment so you can tailor make a range of Lettinis to suit your own brand and style. We even offer you the choice to custom print your own brand logo in any colour you want on any size, finish, or colour Lettini too. The choice is yours
                
                p Are you a 
                  a(href="/something") hotel or resort chain 
                  | looking to spice up the atmosphere of your customer experience? Our Lettinis offer a HUGE 900+ combination assortment so you can tailor make a range of Lettinis to suit your own brand and style. We even offer you the choice to custom print your own brand logo in any colour you want on any size, finish, or colour Lettini too. The choice is yours
              
                p Are you a hotel or resort chain looking to spice up the atmosphere of your customer experience? Our Lettinis offer a HUGE 900+ combination assortment so you can tailor make a range of Lettinis to suit your own brand and style.
        .row.author-row
          .col-lg-12.col-lg-offset-4.col-mg-16.col-md-offset-2
            .author-bio
              .author-image
                img(data-original="/img/assets/myleisureceo.jpg")
              .author-info
                .author-name Marietta Frey
                .author-bio Marietta Frey is a mother of 2 who has travelled the world seeking new adventures and insights at every turn, a woman with a mind as open as the ocean, she always finds ways to help all of those around her through love and compassion, and has an eye for style and design like not many people do.
        .row.related-articles-row
          .col-lg-12.col-lg-offset-4.col-md-16.col-md-offset-2
            .related-articles-title
              | Related articles
            .related-articles-squares
              
              .col-lg-12.col-md-12.col-sm-18.col-xs-24.related-article-square
                .related-article-text
                  .title Caring for a Lettini
                  .subtitle
                    | By
                    .author Marietta Frey 
                    .date April 21, 2017
                img(data-original="/img/splash/hq/cushion.jpg")
              .col-lg-12.col-md-12.col-sm-18.col-xs-24.related-article-square
                .related-article-text
                  .title My Journey
                  .subtitle
                    | By
                    .author Marietta Frey 
                    .date April 17, 2017
                img(data-original="/img/splash/hq/groovy.jpg")
              .col-lg-12.col-md-12.col-sm-18.col-xs-24.related-article-square
                .related-article-text
                  .title For Hotels
                  .subtitle
                    | By
                    .author Marietta Frey 
                    .date May 1, 2017
                img(data-original="/img/customerShots/brand.jpg")
              .col-lg-12.col-md-12.col-sm-18.col-xs-24.related-article-square
                .related-article-text
                  .title Folding your lettini
                  .subtitle
                    | By
                    .author Marietta Frey 
                    .date April 12, 2017
                img(data-original="/img/splash/hq/foldable.jpg")
        .row.random-lettini
          .col-lg-12.col-lg-offset-4.col-md-16.col-md-offset-2
            .title A random Lettini for your leisure
          .col-lg-24
            //- include /snippets/productDisplay
