html
  body
    // .cart-tab start
    button.btn.btn--cart-tab.js-prevent-cart-listener
      div
        // <i class="fa fa-shopping-cart"></i>
        svg(xmlns='http://www.w3.org/2000/svg', version='1.1', viewbox='132.7 354.3 329.7 134.5', xml:space='preserve', ng-switch-when='6')
          path.fancy-cart(d='M414.3 357.3c35.7 10.7 56 47.6 45.2 83.3s-47.6 56-83.3 45.2c-35.7-10.7-56-47.6-45.2-83.3C341.7 367.4 378.6 347.1 414.3 357.3z')
          | &#x9;&#x9;
          polygon.fancy-cart(points='275.6 447.1 186.9 447.1 156 365 136.9 365 132.7 354.3 163.1 354.3 194.7 436.4 267.9 436.4 286.9 385.2 198.2 385.2 194.1 374.5 302.4 374.5 ')
          | &#x9;&#x9;
          rect.fancy-cart(x='206.6', y='473.3', width='42', height='6')
          | &#x9;&#x9;
          rect.fancy-cart(x='165.8', y='438.8', transform='matrix(-0.3557 -0.9346 0.9346 -0.3557 -158.2731 774.512)', width='44.1', height='6')
          | &#x9;&#x9;
          path.fancy-cart(d='M196.4 460.2c-7.7 0-14.3 6.5-14.3 14.3 0 7.7 6.5 14.3 14.3 14.3 7.7 0 14.3-6.5 14.3-14.3C210.7 466.8 204.2 460.2 196.4 460.2zM196.4 482.9c-4.8 0-8.3-3.6-8.3-8.3 0-4.8 3.6-8.3 8.3-8.3 4.8 0 8.3 3.6 8.3 8.3C204.8 479.3 201.2 482.9 196.4 482.9z')
          | &#x9;&#x9;
          path.fancy-cart(d='M261.9 460.2c-7.7 0-14.3 6.5-14.3 14.3 0 7.7 6.5 14.3 14.3 14.3 7.7 0 14.3-6.5 14.3-14.3C276.2 466.8 269.7 460.2 261.9 460.2zM261.9 482.9c-4.8 0-8.3-3.6-8.3-8.3 0-4.8 3.6-8.3 8.3-8.3 4.8 0 8.3 3.6 8.3 8.3C270.3 479.3 266.7 482.9 261.9 482.9z')
          | &#x9;&#x9;
          text.btn__counter(x='395', y='423', dy='.35em', text-anchor='middle') 0
    // .cart-tab end
