html
  body
    //- #homeExample(style="padding: 30px 0px 30px 0px; width: 100%; background-color: #1574c8; display: flex; align-items: center; justify-content: center; flex-direction: column; text-align: center")
      h2.title(style="color: white; padding-bottom: 10px") 1 of our Lettinis
      a.subtitle(style="color: black; text-decoration: none; padding: 3px 12px; background-color: white; text-shadow: none !important", href="/Showcase") see them all
    include /snippets/productDisplay
