html
  body
    #hotelsAndResorts
      .splash-image
        img(data-original="/img/splash/hq/hotels.jpg")
      .application-container
        .container-fluid
          .row
            .application-form.col-lg-22.col-lg-offset-1
              h1 Hotels and Resorts
              p Are you a hotel or resort chain looking to spice up the atmosphere of your customer experience? Our Lettinis offer a 
                strong HUGE
                | 900+ combination assortment so you can tailor make a range of Lettinis to suit your own brand and style. 
              p We even offer you the choice to custom print your own brand logo in any colour you want on any size, finish, or colour Lettini too. The choice is yours
              //- a(href="/commercial/builder").btn.btn-lg build your order
              a(href="/contact").btn.btn-lg contact us
