html
  body
    .side-nav-float-menu
      .item
        .title Home
        .dot.active
      | &#x9;
      .item
        .title.hidden Shop
        .dot
      | &#x9;
      .item
        .title.hidden About
        .dot
      | &#x9;
      .item
        .title.hidden Lettinis
        .dot
