html
  body
    .product-modal
      .product-box(style='height: 650px; max-height: 80%; max-width: 95%')
        i.fa.fa-close-circle.close-icon(onclick='hideProductModal(this)')
        | &#x9;&#x9;
        div(style='text-align: center; padding-top: 40%; color: black; width: 800px; height: auto; max-width: 97%')
          h1 site in progress..
          | &#x9;&#x9;&#x9;
          h4(style='color: #1e66a4')
            | contact 
            a(href='mailto:info@myleisure.com.au') Marietta@myleisure.com.au
            |  for orders
