html
  body
    #show-case-gallery
      //
        <div class="parallax-sci" data-stellar-background-ratio="0.3" data-stellar-vertical-offset="150">
        </div>
      .parallax-sci
      //
        <div class="buttons-container">
        <div class="left-button">
        <i class="fa fa-chevron-with-circle-left"></i>
        <i class="fa fa-chevron-left-oi"></i>
        <i class="fa fa-chevron-small-left"></i>
        </div>
        <div class="right-button">
        <i class="fa fa-chevron-with-circle-right"></i>
        <i class="fa fa-chevron-right-oi"></i>
        <i class="fa fa-chevron-small-right"></i>
        </div>
        </div>
