html
  body
    section#splash
      .pos-box
        .brand-box
          .border
            .title
              | my
              br
              | &#x9;&#x9;&#x9;&#x9;&#x9;leisure
            | &#x9;&#x9;&#x9;&#x9;
            .subtitle
              | beautiful italian design
        //
          <div class="flip-button">
          flip
          </div>
      | &#x9;
      .splash-items
      | &apos;;
      | &#x9;&#x9;};
      | &#x9;&#x9;?&gt;
