html
  body
    section#termsandconds.clearfix
      #terms.terms-and-conditions.col-md-14.col-md-offset-5
        h2 TERMS AND CONDITIONS
        | &#x9;&#x9;
        h3 General Terms
        | &#x9;&#x9;
        br
        | &#x9;&#x9;This website is owned and operated by myleisure.com.au  (My Leisure 774 506 918 76). The website is made available to you for your use on the condition that you agree to these Terms and Conditions of Use (&quot;Terms&quot;). By using the website, you are deemed to have accepted the Terms. The Terms constitute the entire agreement between us and you concerning the website.
        br
        | &#x9;&#x9;All references to $ and dollars on the website are to Australian currency.
        br
        |  All prices were current at the time of publication on the website and are inclusive of GST.
        | &#x9;&#x9;
        br
        | &#x9;&#x9;
        h3 Freight
        | A number of delivery methods may be used depending on the type of order, product and your location. We couriers to deliver your item. Freight charges are payable in addition to the product price. Pick up is an alternative option and can be organized from our warehouse in Carrum Downs, Victoria .
        | Our couriers require a signature from an occupant of the delivery address. Products will generally not be delivered to an unattended address unless you specify otherwise. Our freight costs do not include insurance. Should no one at the delivery address be home to sign receipt of the goods, the item will be sent back to the depot or redelivered another day. You are responsible for collecting the item from that depot and paying an addition charge for re-delivery. Please visit our shipping page for more information.
        br
        | &#x9;&#x9;
        h3 Orders
        | &#x9;&#x9;By submitting an order you represent and warrant that you are authorised to use the designated card or method of payment and authorise us to charge your order (including taxes and freight charges) to that card or payment method. If the card (or other method) cannot be verified, is invalid, or is not otherwise acceptable, your order may be suspended or cancelled automatically.
        | &#x9;&#x9;Product disclaimers
        br
        | &#x9;&#x9;Sometimes items on our website may not be immediately available due to no stock. We aim to ensure that our website is accurate; however back orders can be accepted and need to be paid in full.
        br
        | &#x9;&#x9;
        h3 Delivery
        | &#x9;&#x9;Please allow at least ten (10) working days (most deliveries occur within 3 days of order) for delivery of online orders. Delivery time is subject to stock availability, this period may be extended by up to thirty (60+) days for back orders. Our customer service team verifies all orders and provides updates with deliveries.
        br
        | &#x9;&#x9;
        h3 Limitation of liability
        | &#x9;&#x9;To the fullest extent permitted by law, myleisure.com.au excludes any and all liability for any direct or indirect loss, damage, cost or expense, however or wherever incurred, including, but not limited to any loss, damage, cost or expense that results from:
        | &#x9;&#x9;
        br
        br
        | &#x9;&#x9;
        ul(style='list-style: none')
          li
            | 1.&#x9;your use or misuse of the website or any material on the website.
          | &#x9;&#x9;&#x9;
          li
            | 2.&#x9;your inability to access or use the website or any material on the website.
          | &#x9;&#x9;&#x9;
          li
            | 3.&#x9;the loss or modification of information or material transmitted to or from the website.
          | &#x9;&#x9;&#x9;
          li
            | 4.&#x9;the loss of confidentiality in any information or material transmitted to or from the website.
          | &#x9;&#x9;&#x9;
          li
            | 5.&#x9;any defect, technical problem or virus attached to or arising from the website or the server.
          | &#x9;&#x9;&#x9;
          li
            | 6.&#x9;the use or misuse of the website or any material on the website by other users or the conduct of other users on or through the website.
          | &#x9;&#x9;&#x9;
          li
            | 7.&#x9;any injury or illness you or any other person sustains as a result of the use of the website; and
          | &#x9;&#x9;&#x9;
          li
            | 8.&#x9;the products displayed on the website being unavailable at any time.
        | &#x9;&#x9;
        br
        | &#x9;&#x9;If myleisure.com.au breaches any term, condition or warranty which is implied by law and cannot be lawfully excluded, the liability of myleisure.com.au for a breach of the applicable term, condition or warranty is limited to, at the election of myleisure.com.au
        br
        br
        | &#x9;&#x9;
        ul(style='list-style: none')
          li
            | a. the resupply of the relevant product, advice, service, recommendation or information; or
          | &#x9;&#x9;&#x9;
          li
            | b. the payment to you of the cost of having the relevant product, advice, service, recommendation or information supplied again.
        | &#x9;&#x9;
        br
        | &#x9;&#x9;
        h3 Privacy
        | &#x9;&#x9;Any personally identifiable information that you submit through or in relation to the website is collected and used by myleisure.com.au in accordance with its Privacy Policy.
        | &#x9;&#x9;
        h3 Changes to the Terms
        | &#x9;&#x9;Myleisure.com.au reserves the right to amend the Terms from time to time. Amended Terms come into effect from the time they are posted on the website. You should review this page regularly to ensure that you are aware of any changes to the Terms.
        | &#x9;&#x9;
        h3 Severance of clauses
        | &#x9;&#x9;If any clause of these Terms is held to be invalid, void, unlawful or unenforceable for any reason, that clause will be severed from the Terms and it will not affect the validity and enforceability of the remainder of the Terms.
        | &#x9;&#x9;
        h3 Governing law
        | &#x9;&#x9;This website may be accessed in Australia and throughout the world. These Terms will be governed by and construed in accordance with the courts of Victoria, Australia. You submit to the non-exclusive jurisdiction of the courts of Victoria, Australia.
        | &#x9;
      #returns.returns.col-md-14.col-md-offset-5
        h2 RETURN POLICY
        | &#x9;&#x9;
        h3 Our 14-day Return Policy:
        | &#x9;&#x9;
        br
        | &#x9;&#x9;At My Leisure we provide you with quality outdoor products at reasonable prices. Therefore, if you buy from us online and for any reason you are not delighted with your purchase, you can return your order to our warehouse for refund provided you contact us within 14 days from when your product arrives. Returns will be categorised under two categories &ndash; change of mind or manufacturing default.
        br
        | &#x9;&#x9;
        h3 Change of mind:
        | &#x9;&#x9;In all change of mind returns customers are responsible for delivering the returns to My Leisure. All change of mind returns are subject to a 10% restocking fee if most of the original packaging is not returned to us. We may charge a higher restocking fee if the returned item is slightly damaged and not in a re-saleable condition.  If you require My Leisure to pick up the item from you, you will be charged the freight costs which will be subtracted from your refund amount. Change of mind returns cover items that are purchased by customers and are returned solely based on the customer changing their mind about the product. For example if you bought a chair online un wrapped it and realised it was too big for your intended space and wanted to return it, this would be deemed as a change of mind. Products must be returned in the condition you received them and in the original boxes and/or packaging. Items need to be in a re-saleable condition. We understand you need to open the item upon receipt so we ask majority of the packaging be returned to us. Most importantly, your items cannot be obviously altered, used or damaged by you. If items are returned without most of the original packaging My Leisure will determine upon return if you should pay a higher restocking fee up to 50% of the product purchase amount. If upon return the returned items are obviously damaged or altered by you My Leisure reserves the right to not accept the return and deny the refund.
        | &#x9;&#x9;
        br
        | &#x9;&#x9;All returns require a return authorisation form:
        br
        | &#x9;&#x9; Just contact our Customer Service department at info@myleisure.com.au and we will issue you a return authorisation and advise shipping arrangements.
        | &#x9;&#x9;Please do not return products to My Leisure without a return authorisation.
        | &#x9;&#x9;
        h3 Returns Key Points
        | &#x9;&#x9;
        ul
          li
            | You are free to return your purchase for up to 14 days from the arrival date (online sales only). All change of mind returns are subject to a 10% restocking fee. The restocking fee may be higher up to 50% of the purchase amount if the item is returned without most of its original packaging or returned in a non re-saleable condition.
          | &#x9;&#x9;&#x9;
          li
            | For change of mind returns - customers are responsible for delivering the products back to our warehouse. If you require the returned item to be picked up from you, the shipping charge will be deducted from your refunded amount.
          | &#x9;&#x9;&#x9;
          li
            | Products must be returned in the condition you received them and in the original boxes and/or packaging. We understand you need to open the item upon receipt so we ask majority of the packaging must be intact. Most importantly, your items cannot be obviously altered, used or damaged by you.
          | &#x9;&#x9;&#x9;
          li
            | With change of mind returns, once your item is received and inspected by our warehouse, your refund will be processed and a credit will be automatically applied to your credit card or original method of payment within 7 days, less the cost of shipping both ways.
          | &#x9;&#x9;&#x9;
          li
            | Replacements for exchange of damaged goods will not be dispatched until the original item has been received at our warehouse.
        | &#x9;&#x9;
        h3
          | When a refund may not be warranted:
        | &#x9;&#x9;
        h5
          | (Some of these circumstances will not warrant a refund)
        | &#x9;&#x9;
        ul
          li
            | If you change your mind and want to return the item after 14 calendar days after arrival.
          | &#x9;&#x9;&#x9;
          li
            | If items are returned without a completed return authorisation form.
          | &#x9;&#x9;&#x9;
          li
            | Damaged items not notified by email to us within 5 days after receipt.
          | &#x9;&#x9;&#x9;
          li
            | If the product has been damaged by you for example, you&apos;ve used a knife to open the packaging and it&apos;s all gone horribly wrong.
          | &#x9;&#x9;&#x9;
          li
            | If the product shows obvious signs of use
          | &#x9;&#x9;&#x9;
          li
            | If the packaging has been completely removed
          | &#x9;&#x9;&#x9;
          li
            | If you fail to take reasonable care of the goods in returning them to us and this causes the damage to or deterioration of the products, we will charge you for the reduction in value, up to 100% of the value of the goods, plus freight cost.
        | &#x9;&#x9;
        h3 Who pays for return freight?
        | &#x9;&#x9;1) We pay the return shipping if:
        | &#x9;&#x9;
        ul
          li
            | Your item was damaged upon arrival at your place
          | &#x9;&#x9;&#x9;
          li
            | Or an incorrect product was despatched by our warehouse
        | &#x9;&#x9;***
        i
          | If a refund is needed please complete a return authorisation from our customer service team at info@myleisure.com.au
          | Please note that we require digital photos of any damaged product to be emailed to us prior to assessing the claim.
        | &#x9;&#x9;
        br
        br
        | &#x9;&#x9;2) You will pay return shipping if:
        | &#x9;&#x9;
        ul
          li
            | You change your mind about needing the product within 14 days.
      | &#x9;
      #privacy.privacy.col-md-14.col-md-offset-5
        h2 MY LEISURE PRIVACY POLICY
        | &#x9;&#x9;This privacy policy sets out how MY LEISURE uses and protects any information that you give My Leisure when you use this website. My Leisure is committed to ensuring that your privacy is protected. Should we ask you to provide certain information by which you can be identified when using this website, and then you can be assured that it will only be used in accordance with this privacy statement.
        | &#x9;&#x9;
        h3 Collecting Personal Information
        | &#x9;&#x9;We encrypt all sensitive information (such as credit card numbers) on our website with a secure socket layer technology (SSL). We do not store credit card details and only use the details once to process your transaction. All credit cards details taken over the phone are immediately shredded or deleted.
        | &#x9;&#x9;
        h3 What we collect
        | &#x9;&#x9;We may collect the following information:
        | &#x9;&#x9;
        ul
          li name
          | &#x9;&#x9;&#x9;
          li contact information including email address
          | &#x9;&#x9;&#x9;
          li demographic information such as postcode
          | &#x9;&#x9;&#x9;
          li other information relevant to customer surveys and/or offers
        | &#x9;&#x9;
        h3 Using and Disclosing Personal Information
        | &#x9;&#x9;To prevent unauthorized access, maintain data accuracy, and ensure the correct use of information, we have developed and put in place appropriate electronic procedures to safeguard and secure the information we collect online. We train all our employees about the importance of privacy and give access to information about consumers only to those employees who require it to perform their jobs. We do not acquire any more information about consumers than is required by law or otherwise necessary to provide a high level of customer service.
        | &#x9;&#x9;
        h3 Controlling your personal information
        | &#x9;&#x9;You may choose to restrict the collection or use of your personal information in the following ways:
        | &#x9;&#x9;
        ul
          li
            | whenever you are asked to fill in a form on the website, look for the box that you can click to indicate that you do not want the information to be used by anybody for direct marketing purposes
          | &#x9;&#x9;&#x9;
          li
            | If you have previously agreed to us using your personal information for direct marketing purposes, you may change your mind at any time by writing to or emailing us at info@myleisure.com.au
        | &#x9;&#x9;
        h3 Email Newsletter Subscription
        | &#x9;&#x9;All our newsletters contain a link to unsubscribe. If you choose to unsubscribe, you will not receive any newsletters from us again. You can always subscribe at a later date.
        | &#x9;&#x9;
        h3 Cookies and Google Remarketing
        | &#x9;&#x9;Our site uses browser cookies and Google remarketing to promote our products to customers online. Third party vendors including Google will show our ads across the internet to our sites visitors. To do this these third part vendors will use your browsers cookies to serve you ads based on your past visits. Information about how you can opt out of Google&apos;s use of cookies can be found by visiting Google&apos;s Ads Settings. Alternatively, you can opt out of a third-party vendor&apos;s use of cookies by visiting the Network Advertising Initiative opt-out page.
        | &#x9;&#x9;
        h3 Changes to This Privacy Policy
        | &#x9;&#x9;Our privacy policy may change from time to time. All updates will be made on this page and you will be notified either on our homepage or on this privacy policy page.
        | &#x9;&#x9;
        br
        | &#x9;&#x9; We will not sell, distribute or lease your personal information to third parties unless we have your permission or are required by law to do so. We may use your personal information to send you promotional information about third parties which we think you may find interesting if you tell us that you wish this to happen.
        | &#x9;&#x9; 
        br
        | &#x9;&#x9; 
        h3(style='margin-top: 50px') ABN: 774 506 918 76
