include /snippets/head
include /snippets/banner
include /snippets/aboutus
//- include /snippets/foldable
//- include /snippets/accessories

//- each product in frontPageProducts
  include /snippets/productDisplay

//- include /snippets/homeExample
include /snippets/finishes
//- include /snippets/builder
//- include /snippets/canopy
include /snippets/contact_form
include /snippets/footer
