include /snippets/head

html 
  body
    #dashboard
      include /CMS/adminPanel
      #editor
      //- input(type="text", style="width: 60%; height: 100vh; background-color: white; padding: 50px; color: black; vertical-align: top; display: flex; justify-content: flex-start; align-items: flex-start; rows: ")
    
    include /snippets/footerJs
